@media (max-width: 1081px) {
    .content {
        position: relative;
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card {
        background: white;
        padding: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 350px;
        max-height: 350px;
        position: absolute;
        right: -50px; /* Posição ajustada para que o card saia da imagem de fundo */
        top: -40%;
        transform: translateY(-50%);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    }

    .itens-slide{
        display: none;
    }
  }

  @media (max-width: 590px) {
    .card {
        background: white;
        padding: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 300px;
        max-height: 300px;
        position: absolute;
        right: -50px; /* Posição ajustada para que o card saia da imagem de fundo */
        top: -40%;
        transform: translateY(-50%);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    }

    .card h1 {
        margin: 0;
        font-size: 23px;
    }
    .card p {
        margin-top: 5px;
        font-size: px;
    }
    
    .line{
        background-color: green;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 70px;
        height: 5px;
    }

    .itens-slide{
        display: none;
    }
  }
  
