@keyframes services__left{
    from {
        opacity: 0;
        translate: -100px 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

*{
    padding: 0;
    margin: 0;
}
@keyframes services__right{
    from {
        opacity: 0;
        translate: 100px 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

*{
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;   
}
/*----------------------CARROSEL DE IMAGENS E CARD-----------------------*/
.carousel-item img {
    height: 600px; /* Defina a altura máxima desejada */
    object-fit: cover; /* Faz com que a imagem cubra o contêiner sem distorção */
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
}


.content {
    margin-bottom: -100px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 50%; /* Ajusta a posição vertical */
    left: 90%; /* Ajusta a posição horizontal */
    transform: translate(-90%, -50%); /* Centraliza a div no meio do slideshow */
}

.card {
    background: white;
    padding: 50px;
    max-width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

.card h1 {
    font-size: 30px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
}

.linha{
    background-color: #7ED957;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100px;
    height: 8px;
}

.contact{
    background-image: linear-gradient( to right, #1B6D00, #0C3000);
    border-radius: 50px;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}



/*-------------------PORQUE A EXPERTEK-------------------*/
.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2 {
    background: '#aadc992c';
    padding: 50px;
    width: 550px;
    height: auto;
    border-radius: 20px;
    border: solid 2px #AADC99;
    margin-right: 20px; /* Add some space between the card and the image */
}

.card-2 h4 {
    font-size: 20px;
    color: #7ED957;
    margin: 0;
    padding: 0;
}

.card-2 h1 {
    font-size: 40px;
    color: #0C3000;
    margin: 0;
    padding: 0;
}

.linha-2 {
    background-color: #7ED957;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100px;
    height: 8px;
}

.card-2 p {
    margin-top: 10px;
    font-size: 18px;
}

.content-2 img {

    justify-content: flex-end;
    object-fit: cover;
    width: 600px;
    height: 600px;
}

/*-------------------SERVIÇOS-------------------*/
.services__detail {
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AADC99;
    border-radius: 50%;
    padding: 10%;
    padding-top: 5%;
    gap: 5px;
}

.services__img {
    height: 35px;
    width: 35px;
}

.services__titles {
    font-size: 18px;
    font-weight: 600;
}

.services__text {
    font-size: 20px;
    font-weight: 400;
}

.services__net {
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.services__net__content{
    animation: services__left;
    animation-timeline: view();
    animation-range:cover 0% cover 35%;
    display: flex;
    align-items: center;
    height: 200px;
    width: 740px;
    border-radius: 15px;
    border: solid 2px #7ED957;
    gap: 45px;
    padding: 5%;
    box-shadow: 1px 1px 20px rgb(175, 174, 174);
}

.services__maintenance {
    display: flex;
    justify-content: end;
    margin-right: 7%;
    margin-bottom: 3%;
}

.services__maintenance__content {
    animation: services__right ;
    animation-timeline: view();
    animation-range:cover 0% cover 35%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    height: 200px;
    width: 740px;
    border-radius: 15px;
    border: solid 2px #7ED957;
    align-items: center;
    gap: 45px;
    padding: 5%;
    box-shadow: 1px 1px 20px rgb(175, 174, 174);
}

.services__security {
    display: flex;
    margin-left: 5%;
    margin-bottom: 3%;
}

.services__security__content {
    animation: services__left;
    animation-timeline: view();
    animation-range:cover 0% cover 35%;
    display: flex;
    align-items: center;
    height: 200px;
    width: 740px;
    border-radius: 15px;
    border: solid 2px #7ED957;
    gap: 45px;
    padding: 5%;
    box-shadow: 1px 1px 20px rgb(175, 174, 174);
}

.services__infra {
    display: flex;
    justify-content: end;
    margin-right: 7%;
}

.services__infra__content {
    animation: services__right;
    animation-timeline: view();
    animation-range:cover 0% cover 35%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    height: 200px;
    width: 740px;
    border-radius: 15px;
    border: solid 2px #7ED957;
    align-items: center;
    gap: 45px;
    padding: 5%;
    box-shadow: 1px 1px 20px rgb(175, 174, 174);
}

/*----------------------MENU----------------------*/
.header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    transition: 0.5s;
    z-index: 1;
    background-color: #000000;
    height: 130px; /* Define a altura do menu */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.nossos-servicos__titulo h1 {
    font-weight: lighter;
}

.teste {
    height: 300px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img {
    width: 180px;  /* ajuste a largura conforme necessário */
    height: 180px;  /* ajuste a altura conforme necessário */
    max-height: 100%; /* Garante que a imagem não exceda a altura do menu */
    max-width: 100%; /* Garante que a imagem não exceda a largura disponível */
    
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between; /* Centraliza os itens do menu */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 15px;
    
}

.nav-list li {
    margin: 0 20px; /* Adiciona espaço entre os itens */
}

.nav-list a {
    font-size: 18px;
    color: #ffffff;
    margin-right: 50px;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
   
    
}

.nav-list a:last-child {
    margin-right: 0; /* Remove o margin-right do último item */
}

.nav-list a:hover {
    color: #7ED957; /* Cor alterada ao passar o mouse */
    transform: scale(1.1); /* Leve aumento ao passar o mouse */
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #ffffff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

header.rolagem .hamburger::after,
header.rolagem .hamburger::before {
    background: #ffffff; /* Cor branca quando scroll > 200px */
}

/* Estilo para quando a tela está em modo mobile */
.mobile-hamburger::after,
.mobile-hamburger::before {
    background: #ffffff; /* Cor preta no modo mobile padrão */
}

/*----------------------contato-------------------------*/
.area{
    width: 900px;
    height: 600px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    
  
}

.area h1 {
    text-align: center;
    font-size: 20px;
    padding: 5px;

}

.linha-contato{
width: 50px;
height: 5px;
background-color: #7ED957;
margin: auto;
border-radius: 20px;
margin-bottom: 10px;
}

.card-contato{

width: 850px;
height: 550px;
border-radius: 20px;
align-items: center;
margin: auto;
display: flex;
padding: 15px;
}



.left{
    width: 425px;
    height: 450px;
    
}

.left img {
   width: 500px;
   height: 500px;
   padding: 20px;
}

.right{
    width: 425px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgb(196, 191, 191);
    
}

.identificacao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    
}

.identificacao > input{
    width: 375px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    border: solid 2px #AADC99;
    color: black;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    margin: 10px 10px;
    
}

.identificacao > label {
    color: rgb(5, 5, 5);
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: 600;


}

.identificacao > input::placeholder{
 
    color: rgb(121, 118, 118);

}
.icones {
    display: flex;
    

}

.icones a {
    padding: 5px;
    margin: auto;
}

.icones img{
    width: 25px;
    height: 25px;
    
}

.right .btn-contato{
    width: 377px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgb(14, 13, 13);
    cursor: pointer;
    background-color:#7ed957 ;
    
}


/*footer*/

footer a {
    text-decoration: none !important;
    border: none;
}

footer a i {
    text-decoration: none !important;
    border: none;
}

