*{
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.carousel-item img {
    height: 600px; /* Defina a altura máxima desejada */
    object-fit: cover; /* Faz com que a imagem cubra o contêiner sem distorção */
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.card {
    background: white;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    position: absolute;
    transform: translateY(-50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

.card h1 {
    padding: auto;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}

.linha{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 70px;
    height: 5px;
}

.card p {
    margin-top: 10px;
    font-size: px;
}

