*{
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;   
}

.carousel-item img {
    height: 600px; /* Defina a altura máxima desejada */
    object-fit: cover; /* Faz com que a imagem cubra o contêiner sem distorção */
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
}

.content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 50%; /* Ajusta a posição vertical */
    left: 45%; /* Ajusta a posição horizontal */
    transform: translate(-45%, -50%); /* Centraliza a div no meio do slideshow */
}

.card {
    background: white;
    padding: 50px;
    max-width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

.card h1 {
    font-size: 30px;
}

.linha{
    background-color: green;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 70px;
    height: 5px;
}

.card p {
    margin-top: 10px;
    font-size: px;
}

.teste{
    text-align: center;
    margin-top: -50px; /* Ajuste o valor negativo para mover a div para cima */
}
